@page
@model gruppArbete.Pages.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Add book";
}
<div class="container">

    <form method="post" class="p-5" style="width: 55rem; margin: auto;">
        <div class="border p-5 mt-2">
            <div class="row pb-2">
                <h2 class="text-primary">Add new book</h2>
                <hr />
            </div>

            <form method="post">
                <div>
                    <label class="col-form-label mt-2" asp-for="Books.Title">Title:</label>
                    <input type="text" class="form-control" asp-for="Books.Title" placeholder="Title..">
                    <span asp-validation-for="Books.Title" class="text-danger"></span>
                </div>
                <div>
                    <label class="col-form-label mt-2" asp-for="Books.Author">Author:</label>
                    <input type="text" class="form-control" asp-for="Books.Author" placeholder="Author..">
                    <span asp-validation-for="Books.Author" class="text-danger"></span>
                </div>
                <div>
                    <label class="col-form-label mt-2" asp-for="Books.ISBN">ISBN:</label>
                    <input type="number" class="form-control" asp-for="Books.ISBN" placeholder="ISBN..">
                    <span asp-validation-for="Books.ISBN" class="text-danger"></span>
                </div>
                <div>
                    <label class="col-form-label mt-2" asp-for="Books.Price">Price:</label>
                    <input type="number" class="form-control" asp-for="Books.Price" placeholder="Price..">
                </div>

                <div class="form-group">
                    <label asp-for="Books.Genre" class="form-label mt-2">Genre:</label>
                    <select class="form-select" asp-for="Books.Genre">
                        <option>Thriller</option>
                        <option>Sci-Fi</option>
                        <option>Geografi</option>
                        <option>Personlig utveckling</option>
                        <option>Fantasy</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Books.Language" class="form-label mt-2">Language:</label>
                    <select class="form-select" asp-for="Books.Language">
                        <option>Svenska</option>
                        <option>Engelska</option>
                        <option>Spanska</option>
                        <option>Franska</option>
                        <option>Hindi</option>
                        <option>Italienska</option>
                        <option>Mandarin</option>
                    </select>
                </div>
                <div>
                    <label class="col-form-label mt-2" asp-for="Books.ReleaseDate">Release Date:</label>
                    <input type="date" class="form-control" asp-for="Books.ReleaseDate" placeholder="Release Date..">
                </div>

                <div>
                    <label class="col-form-label mt-2" asp-for="Books.Publisher">Publisher:</label>
                    <input type="text" class="form-control" asp-for="Books.Publisher" placeholder="Publisher..">
                </div>

                <fieldset class="form-group">
                    <legend class="mt-2">Switches</legend>
                    <div class="form-check form-switch">
                        <input class="form-check-input" asp-for="Books.NobelPriceWinner" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Is the author a nobel price winner? </label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" asp-for="Books.Read" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Have I read the book?</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" asp-for="Books.Ownership" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Do I own the book?</label>
                    </div>
                </fieldset>
                <div>
                    <label class="col-form-label mt-2" asp-for="Books.Image">Image URL:</label>
                    <input type="url" class="form-control" asp-for="Books.Image" placeholder="Image URL..">
                    <span asp-validation-for="Books.Image" class="text-danger"></span>
                </div><br />

                <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                <a asp-page="/Index" class="btn btn-secondary" style="width:150px">
                    Back to List
                </a>

            </form>
        </div>
    </form>
</div>
